<p>
  <mat-toolbar color="primary">
    <span class="title-site">Gacti VVA</span>
    <span class="button-action">
    <button mat-button class="button-toolbar-animation">Animation</button>
    <button mat-icon-button class="button-toolbar-animation-icon"><mat-icon>search</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="espace" class="button-toolbar-espace-encadrant">Espace Encadrant</button>
    <button mat-icon-button [matMenuTriggerFor]="espace" class="button-toolbar-espace-encadrant-icon"><mat-icon>supervisor_account</mat-icon></button>
    </span>
    <mat-menu #espace="matMenu">
      <button mat-menu-item routerLink="/espace-encadrant-animation">Animation</button>
      <button mat-menu-item>Activité</button>
    </mat-menu>
    <button mat-icon-button><mat-icon class="icon-display">account_circle</mat-icon></button>

  </mat-toolbar>
</p>
<router-outlet></router-outlet>
