<p>
  <mat-toolbar color="primary">
    <span class="title-site">Gacti VVA</span>
    <span *ngIf="loggedCompte$ | async as compte" class="button-action">
      <button
        mat-button
        class="button-toolbar-animation"
        routerLink="/animation-list">
        Animation
      </button>
      <button
        mat-icon-button
        class="button-toolbar-animation-icon"
        routerLink="/animation-list">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="compte.type.toString() ==='ENCADRANT' "
        mat-button
        [matMenuTriggerFor]="espace"
        class="button-toolbar-espace-encadrant">
        Espace Encadrant
      </button>
      <button *ngIf="compte.type.toString() ==='ENCADRANT'"
        mat-icon-button
        [matMenuTriggerFor]="espace"
        class="button-toolbar-espace-encadrant-icon">
        <mat-icon>supervisor_account</mat-icon>
      </button>
    </span>
    <mat-menu #espace="matMenu">
      <button mat-menu-item routerLink="/espace-encadrant-animation">
        Animation
      </button>
      <button mat-menu-item routerLink="/espace-encadrant-activite">
        Activité
      </button>
    </mat-menu>
    <button *ngIf="loggedCompte$ | async as compte" 
      mat-icon-button
      [matMenuTriggerFor]="account"
      >
      <mat-icon class="icon-display">account_circle</mat-icon>
    </button >
    <mat-menu #account="matMenu">
      <button mat-menu-item routerLink="/compte-info">Mon compte</button>
      <button mat-menu-item (click)="logoutCompte()">Se déconnecté</button>
    </mat-menu>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
