.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}

.card-header {
  display: flex;
  flex-flow: column;
  padding-top: 6px;
}

.card-content {
  display: flex;
  flex-flow: column;
  padding-bottom: 2px !important;
}

.content-footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.buttonAction {
  top: -8px;
  margin-left: 10px;
}

.card-activite {
  min-width: 500px !important;
}
