html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.remove-mat-expansion-panel-padding
  .mat-expansion-panel-content
  .mat-expansion-panel-body {
  padding: 0 !important;
  min-width: 500px !important;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
  min-width: 500px !important;
}
