<div *ngIf="userCard">
  <mat-card>
    <div class="header-card">
      <div class="nom-prenom">
        <span> Nom: {{ userCard.nom }} </span>

        <span> Prénom: {{ userCard.prenom }}</span>
      </div>

      <span> Nom d'utilisateur: {{ userCard.username }}</span>
    </div>
    <div class="card-user-info">
      <div class="column">
        <span>
          Date d'inscription:
          {{ userCard.dateInscr | date : 'dd/MM/yyyy' }}</span
        >
        <span>
          Date de fin du compte:
          {{ userCard.dateFerm | date : 'dd/MM/yyyy' }}</span
        >
        <span>
          Date de sejour: {{ userCard.dateDebutSej | date : 'dd/MM/yyyy' }} au
          {{ userCard.dateFinSej | date : 'dd/MM/yyyy' }}</span
        >
      </div>
      <div class="column">
        <span> Tel: {{ userCard.tel }}</span>
        <span> Mail: {{ userCard.mail }}</span>
        <span> Profil: {{ userCard.type }}</span>
      </div>
    </div>
  </mat-card>
</div>
