<mat-tab-group animationDuration="0ms">
  <mat-tab label="Ajouter une animation">
    <div class="animation-form">
      <app-form-animation-conatiner
        [isNew]="true"></app-form-animation-conatiner>
    </div>
  </mat-tab>
  <mat-tab label="Modifier une animation">
    <div *ngIf="animationList$ | async as animations" class="animation-form">
      <mat-form-field class="form-input">
        <mat-label for="codeTypeInput">Code</mat-label>
        <mat-select
          [(ngModel)]="selectedAnimation"
          (opened)="clearSelection()"
          (selectionChange)="selectAnimation()"
          placeholder="Choisir un code d'animation">
          <mat-option
            *ngFor="let animation of animations"
            [value]="animation"
            >{{ animation.codeAnimation }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="clearSelection()">
        Effacer la sélection
      </button>
      <div *ngIf="selectedAnimation" class="animations-list">
        <div class="animation">
          <app-form-animation-conatiner
            [isNew]="false"></app-form-animation-conatiner>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
