.form-input {
  width: 100%;
}

.title {
  margin: 30px;
  font-size: 25px;
}

.error {
  padding: 16px;
  color: white;
  color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.form {
  width: 100%;
}
